<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<!-- dpr = 1-->
<!-- <meta name="viewport" content="initial-scale=scale,maximum-scale=scale,minimum-scale=scale,user-scalable=no">  -->
<!-- dpr = 2-->
<!-- <meta name="viewport" content="initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no"> -->
<!-- dpr = 3-->
<!-- <meta name="viewport" content="initial-scale=0.3333333333,maximum-scale=0.3333333333,minimum-scale=0.3333333333,user-scalable=no"> -->

    <meta name="theme-color" content="#000000">
    <meta name="description" content="h5 404 shine">
    <meta name="Keywords" content="h5 404 shine">
	<title>Something Went Wrong</title>
	<link rel="stylesheet" type="text/css" href="/css/common/index.css">
	<link rel="stylesheet" type="text/css" href="/css/3_something_went_wrong/index.css">
	<script src="/js/lib/amfe-flexible.min.js"></script>
	<script type="text/javascript" src='/js/lib/zepto.min.js'></script>
</head>
<body>
	<div id='app' class="container">
		<div class="content">
			<header class="h5_header"></header>
			<div class="h5_content">
				<div class="error_label">
					<img src="/images/3_something_went_wrong/Fly.png">
				</div>
				<div class="error_label_2">
					<img src="/images/3_something_went_wrong/Ice_Cream.png">
				</div>
				<div class="error_info">
					<div class="error_title">Oh no!</div>
					<div class="error_text">
						<p>Something went wrong,</p>
						<p>Please try again.</p>
					</div>
				</div>
				<div class="op_btn"><a href="#">TRY AGAIN</a></div>
			</div>
		</div>
	</div>
</body>
</html>
